<% include partials/header.ejs %>
    <main class="container">
        <div class="jumbotron">
            <h1 class="text-center"> Index Page </h1>
        </div>
    </main>

<% include partials/footer.ejs %>