<footer>
    <div class="navabr navbar-inverse">
        <nav class="container-fluid">
            <div class="text-center">
                <p> &copy; Michnaro 2017</p>
            </div>
        </nav>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.js" 
    integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>

</html>