<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Michnaro</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="favicon.ico">
</head>

<body>
    <div class="navabr navbar-inverse">
        <nav class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Michnaro</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/friends">Friends</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </div>
        </nav>
    </div>